.player {
    position: relative;
    display:flex;
    max-width: 300px;
    max-height: 75px;
    width: 300px;
    height: 75px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12),
        0 20px 20px rgba(95, 23, 101, 0.2);
    &_disk {
        flex: 1.2;
        padding: 12px;
    }
    &_control {
        flex: 2;
        padding: 12px 0;
        padding-right: 12px;
    }
    &_progress {
        position: absolute;
        left: 9px;
        right: 9px;
        top: 0;
        bottom: 15px;
        z-index: -1;
    }
}
